.full-page {
	width: 100%;
	position: relative;

	.bg-image {
		@include background;
		width: 100%;
		height: 40%;
		position: absolute;
	}

	#fans {
		background-image: url("../../../img/guys.jpg");
		bottom: 0;
	}

	#partner {
		background-image: url("../../../img/kiolbassa.jpg");
		bottom: 0;
		@include breakpoint(md) {
			background-position: center 80%;
		}
	}

	#golf {
		background-position: center top;
		background-image: url('../../../img/golf.jpg');
		bottom: 0;

	}

	#boat {
		background-image: url('../../../img/boat.jpg');
		bottom: 0;
	}

	.fullpage-copy {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		position: absolute;
		z-index: 4;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);

		.white-copy {
			color: white;
		}

		.gray-copy {
			color: $gray-text;
		}

		p {
			margin-top: 2rem;
		}

		.cta-buttons {
			margin-top: 2rem;
		}
	}
}
