.full-page {
    width: 100%;
    position: relative;

    .bg-image {
        @include background;
        width: 100%;
        height: 40%;
    }

    #fans {
        background-image: url('../../../img/guys.jpg');
    }

    #partner {
        background-position: center bottom;
        background-image: url('../../../img/kiolbassa.jpg');
    }

    .fullpage-copy {
        z-index: 4;
        position: absolute;
        text-align: center;

        .desktop-copy {
            display: none;
        }
    }
}