.primary-heading {
    font-family: $rubik;
    text-transform: uppercase;
    font-size: 4rem;
    @include breakpoint(md) {
        font-size: 6rem;
        padding-left: 5rem;
        padding-right: 5rem;
        // padding-left: 20%;
        // padding-right: 20%;
    }
}

.black-heading {
    color: black;
}

.white-heading {
    color: white;
}

.blue-heading {
    color: $blue;
}