.news-carousel {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .news-category {
		margin-top: 2rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
        color: $gray;
        @include breakpoint(md) {
            margin-top: 0;
            margin-bottom: 3rem;
        }
	}

    .news-article {
        @extend %clearfix;
        width: 100%;
        padding: 2rem;
        @include breakpoint(md) {
            padding-left: 8%;
            padding-right: 8%;
        }

        .news-image {
            @include background;
            width: 100%;
            height: 40vh;
            @include breakpoint(md) {
                height: 45vh;
            }
            @include breakpoint(lg-landscape) {
                width: 48%;
                height: 60vh;
                float: left;
            }
        }

        .news-copy {
            margin-top: 1.5rem;
            @include breakpoint(md) {
                margin-top: 4rem;
            }
            @include breakpoint(lg-landscape) {
                width: 48%;
                float: right;
                margin-top: 0;
            }

            .news-category {
                text-align: left;
                @include breakpoint(lg-landscape) {
                    font-size: 2rem;
                }
            }

            .news-heading {
                text-transform: uppercase;
                color: $blue;
                font-size: 2rem;
                @include breakpoint(md) {
                    font-size: 3rem;
                }
                @include breakpoint(lg-landscape) {
                    font-size: 2.6rem;
                }
            }

            .news-secondary {
                text-transform: uppercase;
                font-size: 1.6rem;
                @include breakpoint(md) {
                    font-size: 1.8rem;
                }
                @include breakpoint(lg-landscape) {
                    font-size: 1.6rem;
                }
            }

            .news-paragraph {
                margin-top: 3rem;
            }

            .news-button {
                margin-top: 2rem;
            }
        }
    }
}