.moveToTopEasing {
	animation: moveToTop 0.7s ease-in-out both;
}

.movetoBottomEasing {
	animation: moveToTop 0.7s ease-in-out both;
}

.moveFromBottom {
	animation: moveFromBottom 0.6s ease both;
}

.moveToBottom {
	animation: movetoBottom 0.6s ease both;
}

/* ANIMATIONS */

@keyframes moveToTop {
	from { }
	to { transform: translateY(-100%); }
}

@keyframes moveFromBottom {
	from { transform: translateY(100%); }
}

@keyframes movetoBottom {
	from { }
	to { transform: translateY(100%); }
}