footer {
    @extend %clearfix;
    padding: 4rem 2rem;
    background: black;
    @include breakpoint(lg-landscape) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    //* View newsletter.scss for newsletter-specific stylings *

    .footer-player {
        display: none;
        position: absolute;
    }

    .footer-info {
        overflow: hidden;
        text-align: center;
        @include breakpoint(lg-landscape) {
            text-align: left;
        }

        .social-media {
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            @include breakpoint(lg-landscape) {
                margin-top: 0;
                justify-content: space-between;
            }

            img {
                width: 3.5rem;
                &:not(:first-of-type) {
                    margin-left: 1rem;
                }
            }
        }

        h5 {
            color: white;
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        .address {
            margin-top: 2rem;
            color: white;
        }

        .contact {
            margin-top: 2rem;
            
            a {
                color: white;
                text-decoration: underline;
            }
        }
    }
}
