footer {
    padding: 2rem;
    background: black;

    //* View newsletter.scss for newsletter-specific stylings *

    .footer-info {
        width: 100%;
        overflow: hidden;

        .social-media {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 4rem;
            }
        }
    }
}
