header {
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        width: 10rem;
        @include breakpoint(md) {
            width: 15rem;
        }
    }

    nav {
        display: none;
        @include breakpoint(md) {
            display: block;
        }

        .nav-link {
            display: inline-block;
            text-transform: uppercase;
            color: $black;
            &:not(:first-of-type) {
                margin-left: 3rem;
            }
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;

        span {
            width: 2rem;
            height: 1px;
            background-color: black;
            display: block;
            &:nth-of-type(2n) {
                width: 3rem;
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;
            }
        }
    }
}