.sidebar {
	width: 24rem;
	height: 100%;
	padding: 4rem;
	position: fixed;
	right: -24rem;
	background-color: black;
	transition: 0.4s transform;
	@include breakpoint(md) {
		width: 28rem;
		right: -28rem;
	}
	@include breakpoint(lg-vertical) {
		width: 38rem;
		right: -38rem;
	}

	.sidebar-nav {
		margin-top: 15%;
		display: block;

		.sidebar-link {
			color: white;
			text-transform: uppercase;
			&:not(:first-of-type) {
				margin-top: 2rem;
			}
		}
	}
}

.sidebar-open {
	transform: translateX(-24rem);
	transition: 0.4s transform;
	@include breakpoint(md) {
		transform: translateX(-28rem);
	}
	@include breakpoint(lg-vertical) {
		transform: translateX(-38rem);
	}
}

.open-sidebar {
	transform: translateX(-24rem);
	transition: 0.4s transform;
	@include breakpoint(md) {
		transform: translateX(-28rem);
	}
	@include breakpoint(lg-vertical) {
		transform: translateX(-38rem);
	}
}
