/* CENTER VERTICALLY AND HORIZONTALLY */
/* CENTER VERTICALLY */
/* BACKGROUNDS */
/* MEDIA QUERIES (ADD IF MORE ARE NEEDED) */
/* ARROWS */
/* CHEVRONS */
/* CLEARFIX EXTENSION */
section:before, section:after {
  content: " ";
  display: table;
}

section:after {
  clear: both;
}

/* FONTS */
/* COLORS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
}

main, footer {
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-family: "Karla", sans-serif;
}

.desktop-only {
  display: none;
}

.primary-button {
  width: 14rem;
  height: 3.3rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  line-height: 3.3rem;
  font-size: 1.4rem;
}

.blue-button {
  background-color: #0070ac;
  border-color: white;
  color: white;
}

.yellow-button {
  background-color: #ffcf06;
  border-color: white;
  color: #101820;
}

.white-button {
  background-color: white;
  border-color: #101820;
  color: #101820;
}

.black-button {
  background-color: black;
  border-color: white;
  color: white;
}

.red-button {
  background-color: #d8262f;
  border-color: black;
  color: white;
}

.news-button {
  width: 11rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  line-height: 3rem;
  font-size: 1.4rem;
  background-color: white;
  border-color: #101820;
  color: #101820;
}

.full-page {
  width: 100%;
  position: relative;
}

.full-page .bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
  position: absolute;
}

.full-page #fans {
  background-image: url("../../../img/guys.jpg");
  bottom: 0;
}

.full-page #partner {
  background-image: url("../../../img/kiolbassa.jpg");
  bottom: 0;
}

@media only screen and (min-width: 680px) {
  .full-page #partner {
    background-position: center 80%;
  }
}

.full-page #golf {
  background-position: center top;
  background-image: url("../../../img/golf.jpg");
  bottom: 0;
}

.full-page #boat {
  background-image: url("../../../img/boat.jpg");
  bottom: 0;
}

.full-page .fullpage-copy {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  z-index: 4;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.full-page .fullpage-copy .white-copy {
  color: white;
}

.full-page .fullpage-copy .gray-copy {
  color: #707070;
}

.full-page .fullpage-copy p {
  margin-top: 2rem;
}

.full-page .fullpage-copy .cta-buttons {
  margin-top: 2rem;
}

.white-gradient {
  width: 100%;
  position: absolute;
  height: 80%;
  z-index: 3;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(25%, white), to(white));
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 25%, white 100%);
}

.blue-gradient {
  width: 100%;
  position: absolute;
  height: 80%;
  z-index: 3;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 112, 172, 0)), color-stop(25%, #0070ac), to(#0070ac));
  background: linear-gradient(to top, rgba(0, 112, 172, 0) 0%, #0070ac 25%, #0070ac 100%);
}

.blue-filter {
  background: rgba(0, 112, 172, 0.4);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}

.black-gradient {
  width: 100%;
  position: absolute;
  height: 80%;
  z-index: 3;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(37, 37, 37, 0)), color-stop(25%, #252525), to(#252525));
  background: linear-gradient(to top, rgba(37, 37, 37, 0) 0%, #252525 25%, #252525 100%);
}

.primary-heading {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}

@media only screen and (min-width: 680px) {
  .primary-heading {
    font-size: 6rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.black-heading {
  color: black;
}

.white-heading {
  color: white;
}

.blue-heading {
  color: #0070ac;
}

.news-carousel {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news-carousel .news-category {
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #999999;
}

.news-carousel .news-article {
  width: 100%;
  padding: 2rem;
}

.news-carousel .news-article .news-copy {
  margin-top: 1.5rem;
}

.news-carousel .news-article .news-copy .news-heading {
  text-transform: uppercase;
  color: #0070ac;
  font-size: 2rem;
}

.news-carousel .news-article .news-copy .news-secondary {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.news-carousel .news-article .news-copy .news-button {
  margin-top: 2rem;
}

.newsletter {
  text-align: center;
}

.newsletter h1 {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
}

.newsletter p {
  margin-top: 2rem;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
}

.newsletter .fba-logo {
  width: 18rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter .input-form {
  width: 100%;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.newsletter .input-form #email-input {
  width: calc(100% - 8rem);
  height: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  background: transparent;
  border: 1px solid white;
  color: white;
  float: left;
}

.newsletter .input-form #email-input::-webkit-input-placeholder {
  color: white;
  font-style: italic;
  text-align: center;
}

.newsletter .input-form #email-input:-ms-input-placeholder {
  color: white;
  font-style: italic;
  text-align: center;
}

.newsletter .input-form #email-input::-ms-input-placeholder {
  color: white;
  font-style: italic;
  text-align: center;
}

.newsletter .input-form #email-input::placeholder {
  color: white;
  font-style: italic;
  text-align: center;
}

.newsletter .input-form #submit-btn {
  width: 8rem;
  height: 3.5rem;
  float: right;
  background: #ffcf06;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  padding: 4rem 2rem;
  background: black;
}

footer .footer-info {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

footer .footer-info .social-media {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-info .social-media img {
  width: 3.5rem;
}

footer .footer-info .social-media img:not(:first-of-type) {
  margin-left: 1rem;
}

footer .footer-info h5 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
}

footer .footer-info .address {
  margin-top: 2rem;
  color: white;
}

footer .footer-info .contact {
  margin-top: 2rem;
}

footer .footer-info .contact a {
  color: white;
  text-decoration: underline;
}

header {
  width: 100%;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

header .logo {
  width: 10rem;
}

@media only screen and (min-width: 680px) {
  header .logo {
    width: 15rem;
  }
}

header nav {
  display: none;
}

@media only screen and (min-width: 680px) {
  header nav {
    display: block;
  }
}

header nav .nav-link {
  display: inline-block;
  text-transform: uppercase;
  color: #101820;
}

header nav .nav-link:not(:first-of-type) {
  margin-left: 3rem;
}

header .menu {
  display: block;
  cursor: pointer;
}

header .menu span {
  width: 2rem;
  height: 1px;
  background-color: black;
  display: block;
}

header .menu span:nth-of-type(2n) {
  width: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.sidebar {
  width: 24rem;
  height: 100%;
  padding: 4rem;
  position: fixed;
  right: -24rem;
  background-color: black;
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

@media only screen and (min-width: 680px) {
  .sidebar {
    width: 28rem;
    right: -28rem;
  }
}

.sidebar .sidebar-nav {
  margin-top: 15%;
  display: block;
}

.sidebar .sidebar-nav .sidebar-link {
  color: white;
  text-transform: uppercase;
}

.sidebar .sidebar-nav .sidebar-link:not(:first-of-type) {
  margin-top: 2rem;
}

.sidebar-open {
  -webkit-transform: translateX(-24rem);
          transform: translateX(-24rem);
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

@media only screen and (min-width: 680px) {
  .sidebar-open {
    -webkit-transform: translateX(-28rem);
            transform: translateX(-28rem);
  }
}

.open-sidebar {
  -webkit-transform: translateX(-24rem);
          transform: translateX(-24rem);
  -webkit-transition: 0.4s -webkit-transform;
  transition: 0.4s -webkit-transform;
  transition: 0.4s transform;
  transition: 0.4s transform, 0.4s -webkit-transform;
}

@media only screen and (min-width: 680px) {
  .open-sidebar {
    -webkit-transform: translateX(-28rem);
            transform: translateX(-28rem);
  }
}

.frontpage-main {
  width: 100%;
  height: 500%;
  overflow: hidden;
}

.frontpage-main .full-page {
  height: 20%;
}
/*# sourceMappingURL=main.css.map */